#about {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 3.4rem;
  color: #264653;
}

p {
  font-size: 1.6rem;
}

.inner-about {
  display: block;
  width: 60%;
}
