.ContactSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #264653;
  padding-bottom: 8rem;
  justify-content: center;
  align-items: center;
}

.Title {
  padding: 0;
  padding-bottom: 6rem;
  margin: 0;
  color: white;
}

.Titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Subtitle {
  font-weight: 300;
  color: white;
  padding-bottom: 5rem;
}

.SocialCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.SocialCard {
  padding: 0 6rem;
}

a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 580px) {
  .SocialCards {
    flex-direction: column;
  }
  .SocialCard {
    padding: 2rem 0;
  }
}
