.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  max-width: 325px;
  height: 450px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 4px 12px 25px -4px rgba(0, 0, 0, 0.541);
  overflow: hidden;
  margin-bottom: 10rem;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card svg {
  width: 90%;
  height: auto;
  margin-top: 0.5rem;
  padding: 4px;
}

.skill-t {
  font-weight: bold;
  font-size: 24px;
  color: #264653;
  margin: 0;
  margin-top: 0.8rem;
  padding-bottom: 20px;
}

.desc {
  font-size: 18px;
  color: #636363;
  padding-bottom: 2rem;
}

.level-div {
  display: flex;
  width: 100%;
  height: 15%;
  margin-top: 4rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #2a9d8f;
}

.level {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
